h1{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}



body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: black;
}
    















































/* .newGrid::before{
    content: '';
    display: block;
    padding-top: 100%;  
} */